.site-theme-d4 {
    color:#fff !important;background-color: #000000 !important;
}

.site-theme-d2 {
    color: #fff !important;
    background-color: #000000 !important;
}

.site-theme-l1 {
    color: #fff !important;
    background-color: #000000 !important;
}